@use "_variables.scss" as v;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin container {
  max-width: 1440px;
  margin: 0 auto;
}

@mixin outfit {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

@mixin frame {
  @include flex-center;
  flex-wrap: wrap;
  padding: 1rem;
  border-radius: 1rem;
  gap: 1rem;
  background-color: v.$color-dark;
}

@mixin button {
  border-radius: 1rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-align: center;
  font-size: 0.8rem;
  background-color: v.$btn-color;
  cursor: pointer;
  color: v.$color-white;
  padding: 0.5rem 1rem;
  transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.1s,
    letter-spacing ease-in-out 0.1s, transform ease-in-out 0.5s;
  box-shadow: v.$shadows-btn;

  &:hover {
    box-shadow: v.$shadows-btn-hover;
    transform: scale(0.99);
  }
  &:active {
    box-shadow: v.$shadows-btn-hover, v.$color-primary 0 0 1.5rem 0.25rem;
    background-color: v.$color-primary;
    transform: scale(0.95);
  }
}

@mixin icon-btn {
  display: grid;
  place-items: center;
  background-color: v.$btn-color;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: v.$shadows-btn;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
      transform: scale(0.9);
      box-shadow: v.$shadows-btn-hover;
  }
}

@mixin btn-hint {
  display: grid;
  place-items: center;
  background-color: v.$btn-color;
  padding: 0.5rem;
  border-radius: 50%;
  box-shadow: v.$shadows-btn;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
      box-shadow: v.$shadows-btn-hover;
  }
}

@mixin modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  @include flex-center;
  padding: 1rem;

  .modal-container {
    @include flex-column();
    min-width: 25rem;
    padding: 2rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: v.$color-dark-80;

    .modal-inner-container {
      @include flex-between;
      @include btn-section;
      background-color: v.$color-dark;
      border-radius: 1rem;
      max-width: 30rem;
      width: 100%;
      gap: 2rem;
    }
  }
}

@mixin btn-section {
  max-width: 22rem;
  width: 100%;
  padding: 1rem;
  border-radius: 1.5rem;
  gap: 1rem;
  background-color: v.$color-dark-50;
  box-shadow: v.$shadows-btn;
}

@mixin checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;

  input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  }

  div {
    position: relative;
    top: 0;
    left: 0;
    height: 1.7em;
    width: 1.7em;
    // background-color: #ccc;
    border-radius: 100%;
    background: v.$btn-color;
    // box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    // box-shadow: v.$shadows-check;
    box-shadow: rgba(0, 0, 0, 0.23) 0px -2px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
    transition: box-shadow 0.2s ease-in-out;
  }

  input:checked ~ div {
    // box-shadow: v.$shadows-check-hover;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }

  div:after {
    content: "";
    transition: all 0.2s ease-in-out;
    position: absolute;
    opacity: 0;
  }

  & input:checked ~ div:after {
    opacity: 1;
  }

  & div:after {
    left: 35%;
    top: 20%;
    width: 25%;
    height: 40%;
    border: solid darkgray;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
  }
}

@mixin background {
  --mx: 0;
  --my: 0;
  --bg-1: #0000;
  --bg-2: #232020;
  --bg-3: #1e1e1e;
  --a-x: calc(var(--mx) * 8px);
  --a-y: calc(var(--my) * 8px);
  --b-x: calc(var(--mx) * -6px);
  --b-y: calc(var(--my) * -6px);
  --c-x: calc(var(--mx) * 4px);
  --c-y: calc(var(--my) * 4px);

  background:
    repeating-linear-gradient(
        45deg,
        var(--bg-1) calc(-650% / 13) calc(50% / 13),
        var(--bg-2) 0 calc(100% / 13),
        var(--bg-1) 0 calc(150% / 13),
        var(--bg-2) 0 calc(200% / 13),
        var(--bg-1) 0 calc(250% / 13),
        var(--bg-2) 0 calc(300% / 13)
      )
      calc(0px + var(--c-x)) calc(0px + var(--c-y)),
    repeating-linear-gradient(
        45deg,
        var(--bg-1) calc(-650% / 13) calc(50% / 13),
        var(--bg-2) 0 calc(100% / 13),
        var(--bg-1) 0 calc(150% / 13),
        var(--bg-2) 0 calc(200% / 13),
        var(--bg-1) 0 calc(250% / 13),
        var(--bg-2) 0 calc(300% / 13)
      )
      calc(32px + var(--a-x)) calc(32px + var(--a-y)),
    repeating-linear-gradient(
        -45deg,
        var(--bg-1) calc(-650% / 13) calc(50% / 13),
        var(--bg-2) 0 calc(100% / 13),
        var(--bg-1) 0 calc(150% / 13),
        var(--bg-2) 0 calc(200% / 13),
        var(--bg-1) 0 calc(250% / 13),
        var(--bg-2) 0 calc(300% / 13)
      )
      calc(0px + var(--b-x)) calc(0px + var(--b-y)),
    repeating-linear-gradient(
        -45deg,
        var(--bg-1) calc(-650% / 13) calc(50% / 13),
        var(--bg-2) 0 calc(100% / 13),
        var(--bg-1) 0 calc(150% / 13),
        var(--bg-2) 0 calc(200% / 13),
        var(--bg-1) 0 calc(250% / 13),
        var(--bg-2) 0 calc(300% / 13)
      )
      calc(32px + var(--a-x)) calc(32px + var(--a-y)) var(--bg-3);

  background-size: 64px 64px;
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  inset: 0;
  z-index: -1;
  // pointer-events: none;
  transition: background-position 160ms linear;
}

@mixin no-scroll {
  overflow: auto;
  &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
  }

  &::-webkit-scrollbar {
      display: none;
  }
}