@use "_variables.scss" as v;
@use "_mixins.scss" as m;

@media (max-width: v.$laptop_l) {
  html {
    font-size: 18px;
  }
}

@media (max-width: v.$laptop_m) {
  html {
    font-size: 16px;
  }
}

@media (max-width: v.$laptop_s) {
  html {
    font-size: 14px;
  }
}
@media (max-width: v.$tablet_l) {
  html {
    font-size: 2.8dvw;
  }
}

@media (max-width: v.$mobile_l) {
  html {
    font-size: 2.8dvw;
  }
}
@media (orientation: landscape) and (max-width: v.$desktop) {
  html {
    font-size: 1.4dvw;
  }
}

@media (orientation: portrait) {

  html {
    font-size: 3.9dvw;
  }

  .modal-container {
    min-width: 22rem !important;
  }

  .tooltip {
    width: 90dvw !important;
  }

  .hints {
    .tooltip {
      left: -2.3rem;
      &::after {
        left: 3rem !important;
      }
    }
  }

  .add-numbers {
    .tooltip {
      left: -11.9rem;
      &::after {
        left: 12.6rem !important;
      }
    }
  }

  .shuffle {
    .tooltip {
      left: -16.7rem;
      &::after {
        left: 17.3rem !important;
      }
    }
  }

  .eraser {
    .tooltip {
      left: -21.5rem;
      &::after {
        left: 22.2rem !important;
      }
    }
  }
}
